<section class="home-section">
    <div class="container">
        <div class="container">
            <mat-card-title class="page-title">Latest Blog Posts</mat-card-title>
        </div>
        <mat-card-content class="page-body">
            <mat-card *ngFor="let post of posts" style="margin:1rem">
                <a [routerLink]="[post.slug]">
                    <mat-card-title>
                        <div class="container">
                            <div fxLayout="row" fxLayout.xs="column" fxFlex class="content">
                                <div class="blocks">
                                    <img *ngIf="post.featured_image" src="{{post.featured_image}}" alt="featured image" height="64" width="64" />
                                </div>
                                <div class="blocks">
                                    {{post.title}}
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div fxLayout="column" class="summary">
                                <div [innerHTML]="post.summary"></div>
                            </div>
                        </div>

                    </mat-card-title>
                </a>

            </mat-card>
        </mat-card-content>
        <br />
        <br />
    </div>
</section>