<footer id="footer" class="home-footer">
  <section class="home-footer-top">
    <div class="container">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="wrap">
        <div fxFlex="50" class="footer-box">
          <!--<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="50px">
    <div class="linkBoxes">
      <a href="">Best Credit Cards</a>
      <br>
      <a href="">Privacy Policy</a>
      <br>
      <a href="">Privacy Policy</a>
      <br>
      <a href="">Privacy Policy</a>
      <br>
      <a href="">Privacy Policy</a>
    </div>
    <div class="linkBoxes">
      <a>Terms of Use</a>
      <br>
      <a href="">Privacy Policy</a>
      <br>
      <a href="">Privacy Policy</a>
      <br>
      <a href="">Privacy Policy</a>
      <br>
      <a href="">Privacy Policy</a>
    </div>
  </div>-->
          <h6 class="footer-box-title">
            <b>contact us: support@creditkitchen.com</b>
          </h6>
          <br />
          <div class="">
            <img src="assets/images/icons/stove.svg" alt="creditkitchen logo" style="height: 50px;vertical-align: top;">
            <div style="display:inline-block; margin: 5px">
              <div class=""> © 2019 CreditKitchen, LLC. All Rights Reserved</div>
              <a class="hyperlink" href="/legal/terms-of-use">Terms of Use</a>
              &nbsp;&nbsp;&nbsp;
              <a class="hyperlink" href="/legal/privacy-policy">Privacy Policy</a>
            </div>
          </div>
        </div>
        <div fxFlex="50" class="footer-box">
          
          <p>Disclaimer: CreditKitchen strives to keep its information accurate and up to date. This information may be different
            than what you see when you visit a financial institution, service provider or specific product’s site. All financial
            products, shopping products and services are presented without warranty. When evaluating offers, please review
            the financial institution’s Terms and Conditions. Pre-qualified offers are not binding. If you find discrepancies
            with your credit score or information from your credit report, please contact TransUnion® directly.</p>
          <div class="socials pt-1">
            <ul>
              <li>
                <a href="" class="social-icon instagram"></a>
              </li>
              <li>
                <a href="" class="social-icon twitter"></a>
              </li>
              <li>
                <a href="https://www.facebook.com/creditkitchen" class="social-icon facebook"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>

