<section id="intro-section" class="home-intro-section text-center">
  <div class="container" fxLayout="column" fxLayoutWrap="nowrap" fxLayoutGap="20px">

    <div class="sub-container" style="border: 0px" fxLayout="row">
      <div>
        <p class="home-intro-text">CreditKitchen's</p>
        <h1 class="home-intro-title">Best {{selectedCategory.title}} Cards</h1>
        <div class="home-intro-subtitle">
          From huge sign-up bonuses to generous rewards, CreditKitchen's top credit cards outshine the rest. Compare these deals from
          our partners to find one that fits your needs.
        </div>
      </div>
      <img mat-card-image style="height: 20%; width: 20%" [src]="'assets/images/icons/'+selectedCategory.icon+'.svg'">
    </div>

  </div>
</section>

<!--<section id="bottom-section" class="bottom-section home-section" fxHide.xs style="padding: 40px 0 0;">
  <div class="container">
    <div class="sub-container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="10px">
      <div fxFlex="15" fxLayoutAlign="center center">
        <img mat-card-image class="offer-icon" style="height: 45px !important" src='assets/images/icons/focus-creditcard.svg'>
      </div>
      <div fxFlex="70">
        <div class="intro-title">
          Find the right credit card for you.
        </div>
        <p class="sub-text">
          Whether you want to pay less interest or earn more rewards, the right card’s out there. Just answer a few questions and we’ll
          narrow the search for you.
        </p>
      </div>
      <div fxFlex="15" fxLayoutAlign="center center">
        <button mat-flat-button class="mat-accent text-white" style="border-radius: 2px; width: 100%">GET STARTED</button>
      </div>
    </div>
  </div>
</section>-->

<section id="credit-card-list-section" class="credit-card-list-section home-section" style="padding: 40px 0 0;">
  <div class="container">
    <div class="sub-container" style="border: 0px; padding: 0px; font-size: 16px; box-shadow: 0px 0px 0px 0px !important; margin-bottom: 20px">
      <div class="intro-title">
        Best {{selectedCategory.title}} Cards
        <small style="float:right; font-size: 12px;margin-top: 15px">
          <span class="hyperlink" (click)="openRatingsDialog()">About Our Ratings</span> |
          <span class="hyperlink" (click)="openAdvertiserDisclosureDialog()">Advertiser Disclosure</span>
        </small>
      </div>

    </div>
    <div class="sub-container" *ngFor="let creditcard of creditcards" style="margin-bottom: 40px">
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
        <div fxFlex="20" fxLayoutAlign="center center" (click)="openCreditCardDetailsDialog()">
          <img mat-card-image class="credit-card-icon" src='assets/images/creditcards/{{creditcard.img}}'>
        </div>
        <div fxFlex="65">
          <div class="intro-title">
            {{creditcard.name}}
          </div>
          <br />
          <div class="intro-text" id="creditscore-range">
            RECOMMENDED CREDIT SCORE
            <div class="creditscore-outterbox text-blue">
              <div *ngFor="let creditscore of creditscores" fxLayout="row space-between center" fxLayoutWrap="nowrap">
                <div fxLayoutGap="3px" style="flex:content">
                  <div>
                    <span [style.color]="calcCreditScoreMinMax(creditcard, creditscore, 'min')? '': 'white'">{{creditscore.minScore}}</span>
                    <span [style.color]="calcCreditScoreMinMax(creditcard, creditscore, 'max')? '': 'white'" style="float: right">{{creditscore.maxScore}}</span>
                  </div>
                  <div [style.background]="calcCreditScoreMinMax(creditcard, creditscore, '')? '#1194f6': ''" class="creditscore-box">&nbsp;</div>
                  <div [style.color]="calcCreditScoreMinMax(creditcard, creditscore, '')? '': 'white'" style="text-align: center;">{{creditscore.text}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div fxFlex="20" fxLayout="column" fxLayoutAlign="space-between">
          <a href="{{creditcard.applyUrl}}" target="_blank" mat-flat-button class="mat-primary  btn-blue" style="border-radius: 2px; width: 100%">APPLY NOW</a>
        </div>
      </div>
      <br />
      <br />
      <div>
        <mat-grid-list cols="3" rowHeight="100px" gutterSize="0px" style="border-top: 1px solid darkgray; height: 99.9% !important" *ngIf="selectedCategory.value === 'rewards' || selectedCategory.value === 'cash back'">
          <mat-grid-tile [colspan]="1" [rowspan]="1" class="" style="border-bottom: 1px solid darkgray;" *ngIf="creditcard.rewardsRateTop">
            <div class="text-inside-grid">
              <div class="bonusLabel">{{creditcard.rewardsRateLabel}}</div>
              <div fxLayout="column" fxLayoutAlign="space-between">
                <span class="bonusValue">{{creditcard.rewardsRateTop}}</span>
                <span class="bonusValue" title="{{creditcard.rewardsRateBottom}}">{{creditcard.rewardsRateBottom}}</span>
              </div>
            </div>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1" style="border-left: 1px solid darkgray;border-bottom: 1px solid darkgray; height: 99.9% !important" *ngIf="creditcard.welcomeBonusTop">
            <div class="text-inside-grid">
              <div class="bonusLabel">{{creditcard.welcomeBonusLabel}}</div>
              <div fxLayout="column" fxLayoutAlign="space-between">
                <span class="bonusValue">{{creditcard.welcomeBonusTop}}</span>
                <span class="bonusValue" title="{{creditcard.welcomeBonusBottom}}">{{creditcard.welcomeBonusBottom}}</span>
              </div>
            </div>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1" class="" style="border-left: 1px solid darkgray;border-bottom: 1px solid darkgray;height: 99.9% !important">
            <div class="text-inside-grid">
              <div class="bonusLabel">Annual Fee</div>
              <div fxLayout="column" fxLayoutAlign="space-between">
                <span class="bonusValue">{{creditcard.annualFeeTop}}</span>
                <span class="bonusValue">{{creditcard.annualFeeBottom}}</span>
              </div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="4" rowHeight="100px" gutterSize="0px" style="border-top: 1px solid darkgray; height: 99.9% !important" *ngIf="selectedCategory.value !== 'rewards' && selectedCategory.value !== 'cash back'">
          <mat-grid-tile [colspan]="1" [rowspan]="1" class="" style="border-bottom: 1px solid darkgray;" *ngIf="creditcard.bonusLabel1">
            <div class="text-inside-grid">
              <div class="bonusLabel">{{creditcard.bonusLabel1}}</div>
              <div fxLayout="column" fxLayoutAlign="space-between">
                <span class="bonusValue">{{creditcard.bonusTop1}}</span>
                <span class="bonusValue" title="{{creditcard.bonusBottom1}}">{{creditcard.bonusBottom1}}</span>
              </div>
            </div>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1" style="border-left: 1px solid darkgray;border-bottom: 1px solid darkgray; height: 99.9% !important" *ngIf="creditcard.bonusLabel2">
            <div class="text-inside-grid">
              <div class="bonusLabel">{{creditcard.bonusLabel2}}</div>
              <div fxLayout="column" fxLayoutAlign="space-between">
                <span class="bonusValue">{{creditcard.bonusTop2}}</span>
                <span class="bonusValue" title="{{creditcard.bonusBottom2}}">{{creditcard.bonusBottom2}}</span>
              </div>
            </div>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1" class="" style="border-left: 1px solid darkgray;border-bottom: 1px solid darkgray;height: 99.9% !important" *ngIf="creditcard.bonusLabel3">
            <div class="text-inside-grid">
              <div class="bonusLabel">{{creditcard.bonusLabel3}}</div>
              <div fxLayout="column" fxLayoutAlign="space-between">
                <span class="bonusValue">{{creditcard.bonusTop3}}</span>
                <span class="bonusValue" title="{{creditcard.bonusBottom3}}">{{creditcard.bonusBottom3}}</span>
              </div>
            </div>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" [rowspan]="1" style="border-left: 1px solid darkgray;border-bottom: 1px solid darkgray; height: 99.9% !important" *ngIf="creditcard.bonusLabel2">
            <div class="text-inside-grid">
              <div class="bonusLabel">{{creditcard.bonusLabel4}}</div>
              <div fxLayout="column" fxLayoutAlign="space-between">
                <span class="bonusValue">{{creditcard.bonusTop4}}</span>
                <span class="bonusValue" title="{{creditcard.bonusBottom4}}">{{creditcard.bonusBottom4}}</span>
              </div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 10px;font-size: 12px">
        <span>
          <a class="hyperlink" (click)="openCreditCardDetailsDialog(creditcard.name)">+ See details, rates, and fees</a>
        </span>
      </div>

    </div>
  </div>
</section>

<section id="back-to-top-section" class="home-section" style="padding: 0px 0 0;">
  <div class="container">
    <div class="sub-container" style="border: 0px; padding: 0px; font-size: 18px">
      <small scrollTo="intro-section" style="float: right">
        <span style="color: #007bff">[</span>
        <span class="hyperlink">back to top</span>
        <span style="color: #007bff">]</span>
      </small>
    </div>
  </div>
</section>

<section id="back-to-top-section" class="home-section" style="padding: 40px 0 0;">
  <div class="container">
    <div class="sub-container" style="border: 0px; padding: 0px; font-size: 16px">

    </div>
  </div>
</section>
