<h2 mat-dialog-title>Advertiser Disclosure</h2>
<mat-dialog-content>
    <p>
        CreditKitchen is an independent, award-winning, advertising-supported website. <br />
        Many credit card offers that appear here are from companies from which CreditKitchen receives compensation. <br />
        This compensation may impact how and where products appear on this site (including, for example, the order in which they appear). <br />
        CreditKitchen does not include all card offers in the marketplace. <br />
    </p>
</mat-dialog-content>

